@font-face {
    font-family: 'Circe';
    src: url('../fonts/Circe/Circe-Regular.eot');
    src: local('../fonts/Circe/Circe'), local('../fonts/Circe/Circe-Regular'),
        url('../fonts/Circe/Circe-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Circe/Circe-Regular.woff') format('woff'),
        url('../fonts/Circe/Circe-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'plumbmedium';
    src: url('../fonts/Plumb/ofont.ru_plumb-webfont.woff2') format('woff2'),
        url('../fonts/Plumb/ofont.ru_plumb-webfont.woff') format('woff'),
        url('../fonts/Plumb/ofont.ru_plumb-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

.site-header {
    background: url(img/bgc.png) no-repeat center / cover;
    padding: 0 0 53px;
}

header.site-header nav {

    height: 90px;
    border-bottom: 1px solid #fff;
    max-width: 100%;
    padding: 0 100px;
}

nav a {
    color: #fff;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 135%;
    text-decoration: none;
    font-family: 'Circe';
}

nav a:hover {
    color: #FFC41E;
    text-decoration: underline;
}

nav {
    vertical-align: middle;
}

.menu-item {
    margin: 0 20px;
}

.lang {
    margin: 0;
    vertical-align: middle;
    margin-left: 70px;
}

.title {
    color: #fff;
}

.title h1 {

    font-family: plumbmedium;
    font-size: 64px;
    font-style: normal;
    font-weight: 700;
    line-height: 102px;
    letter-spacing: 0em;
    text-align: left;
    text-transform: uppercase;

}

.title p {

    font-family: Circe;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 34px;
    letter-spacing: 0em;
    text-align: left;

}

.title a {

    font-family: Circe;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

.head-screen .row {
    margin-top: 90px;
}

.head-screen .title {
    margin-left: 70px;
}

.right-side h3 {
    color: #fff;
    font-family: plumbmedium;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 27px;
    letter-spacing: -0.01em;
    text-align: left;
}

.right-side a {
    font-family: Circe;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: left;
    color: #fff;
    text-decoration: none;
}

.calendar {
    background-color: #2378FC;

}

.adress {
    background-color: #30BCC9;
}

.request {
    background: #FFC41E;
}

.plan {
    background: #F6404F;
}

.right-side .calendar {
    margin: 0 30px 30px 0;
}

.right-side .adress {
    margin-bottom: 30px;
}

.right-side .row-cols-2 .col {
    width: 47%;
}

.right-side .plan {
    margin: 0 0 0 30px;
}

.right-side .col {
    padding: 30px 40px 30px 40px;
}

.right-side {
    margin-top: 30px;
}

/*navigation*/
.main-nav {
    background-color: #2378FC;
    padding: 75px 0;
}

.main-nav h2 {
    font-family: plumbmedium;
    color: #fff;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 39px;
    letter-spacing: -0.01em;
    text-align: left;
    margin-bottom: 30px;
}

.main-nav .nav-justified .nav-item {
    text-align: left;
}

.main-nav .nav-justified .nav-item a {
    padding-left: 0;
}
